<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KE03_INTDEV_SE_1_Base</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KE03_INTDEV_SE_1_Base.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/index"><img src="/images/LogoWhite.png" alt="Home" width="300px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="display: flex; width: 100%; margin:auto">
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-white" asp-area="" asp-page="/index">Home</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link text-white" asp-area="" asp-page="/Privacy"><h5>Privacy</h5></a> *@
                        @* </li> *@
                        <li class="nav-item" >
                            <a class="nav-link text-white" asp-area="" asp-page="/filter"><h5>Alle Producten</h5></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/about"><h5>About</h5></a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <input type="text" id="searchInput" class="search-input" onblur="searchProducts()" onkeydown="if(event.key == 'Enter') searchProducts()" placeholder="voer kenmerk in..." />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/winkelmandje"><i class="bi bi-cart fs-3" style="color: white"></i></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a style="color:white"class="nav-link dropdown-toggle" href="#" id="userDropdown"><i class="bi bi-person-circle fs-3" style="color: white"></i></a>
                            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" >
                                <li><a class="dropdown-item text-white" asp-page="/notImplemented">instellingen <i class="bi bi-gear-fill"></i></a></li>
                                <li><a class="dropdown-item text-white" asp-page="/orderview">Bestel Historie</a></li>
                                <li><a class="dropdown-item text-white" asp-page="/notImplemented">log uit</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            MATRIX INC <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function searchProducts() {
            let filterValue = document.getElementById("searchInput").value;
            if (filterValue) {
				filterValue = filterValue.charAt(0).toUpperCase() + filterValue.slice(1);
                window.location.href = "/producten?selectedFilter=" + encodeURIComponent(filterValue);
            }
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
