@page
@model KE03_INTDEV_SE_1_Base.Pages.aboutModel
@{
	ViewData["Title"] = "About";
}

<h1 style="align-content: center; text-align:center">@ViewData["Title"]</h1>

<p style="align-content: center; text-align:center">Dit is een proof of concept van mijn ontwerpte webapplicatie.</p>
