@page
@model Filtermodel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <center>
        <table class="table">
            <thead>
                <tr>
                    Filter
                </tr>
            </thead>

            <tbody>
				@foreach (var filter in Model.filters)
				{
					<tr>
						<td align="center">
                            <a href="/producten?selectedFilter=@filter">
							    <button class="btn-primary">@filter</button>
							</a>
						</td>
					</tr>
				}
            </tbody>
        </table>
    </center>
</div>