@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div style="text-align: center">
    <h1 style="font-family: 'Bell MT'; font-size:125px">MATRIX INC</h1>
    <div>
        <button class="btn bg-secondary text-white mb-3 me-3" style="width: 400px; padding: 3rem 4rem" onclick="window.location.href='/filter'">Alle producten</button>
        <button class="btn bg-secondary text-white mb-3 me-3" style="width: 400px; padding: 3rem 4rem" onclick="window.location.href='/about'">About</button>
    </div>
</div>
