@page
@model NotFoundModel
@{
	ViewData["Title"] = "niet gevonden";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-sec">Filters</button>
<div id="filters">
    <table class="table">
        <tbody>
            @foreach (var row in Model.Filters.Select((filter, index) => new { filter, index }).GroupBy(x => x.index / 8))
            {
                <tr>
                    @foreach (var filters in row)
                    {
                        <td>
                            <button class="btn btn-secondary" onclick="window.location.href='/producten?selectedFilter=@filters.filter'">@filters.filter</button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
