@page
@model KE03_INTDEV_SE_1_Base.Pages.notImplementedModel
@{
	ViewData["Title"] = "Not Implemented";
}

<h1><center>@ViewData["Title"]</center></h1>

<h3><center>Als je deze pagina hebt bereikt, betekent dit dat je ergens op hebt geklikt dat buiten de scope is gevallen. 
	De reden hiervoor is niet bekend, maar kan zijn gelinkt aan de limitaties van tijd en database koppelingen.</center>
</h3>
