@page
@model productenModel
@{
    ViewData["Title"] = "Alle producten";
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-primary" onclick="ToggleFilters()">Filters =></button>
<div id="filters" hidden="hidden"> 
    <h5>Filters</h5>
    <table>
        <tbody>
			@foreach (var filter in Model.Filters)
			{
				<tr>
					<td>
						<a href="/producten?selectedFilter=@filter">
							@filter
						</a>
					</td>
				</tr>
			}
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {

            <tr style="cursor:pointer" data-href="/producten pagina/@product.Id" onclick="location.href=this.dataset.href;" >
                <td>@product.Name</td>
                <td>@product.Description</td>
                <span style="white-space: nowrap">
                <td>€&nbsp;@product.Price.ToString("N2").Replace(",00", ",-")</td> <!-- Formats price as currency -->
                </span>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ToggleFilters(){
		container = document.getElementById("filters");
		if (container.hidden) {
			container.hidden = false;
		} else {
			container.hidden = true;
		}
	}
</script>