@page
@model productenModel
@{
    if (Model.filter != "geen filters")
    {
        ViewData["Title"] = "Alle " + Model.filter;
    }


    else
    {
        ViewData["Title"] = "Alle producten";
    }
}

<h1>@ViewData["Title"]</h1>

<button class="btn btn-primary" onclick="ToggleFilters()">Filters</button>
<div id="filters" style="display: none"> 
    <h5>Filters</h5>
    <table>
        <tbody>
			@foreach (var filter in Model.Filters)
			{
				<tr>
					<td>
						<a href="/producten?selectedFilter=@filter">
							@filter
						</a>
					</td>
				</tr>
			}
        </tbody>
    </table>
</div>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead>
            <tr>
				<th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {

            <tr style="cursor:pointer" data-href="/producten pagina/@product.Id" onclick="location.href=this.dataset.href;" >
			    <td><img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" alt="afbeelding van @product.Name" width="200px" /></td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <span style="white-space: nowrap">
                <td>€&nbsp;@product.Price.ToString("N2").Replace(",00", ",-")</td> <!-- Formats price as currency -->
                </span>
                <td><button class="btn-primary">Bekijk het item =></button></td>
            </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ToggleFilters()
    {
		container = document.getElementById("filters");
		if (container.style.display == "none") 
        {
			container.style.display = "block";
		} 
        
        else 
        {
			container.style.display = "none";
		}
	}

</script>