@page
@model stap3betalenModel
@{
    ViewData["Title"] = "Stap 3 Betalen";
}
<h1>@ViewData["Title"]</h1>

<h2>Totale prijs: @Model.totale_prijs</h2>
<form id="myForm" method="post" asp-page-handler="Betaald">
    <button type="submit" class="btn btn-secondary btn-lg float-md-none">Betalen</button>
</form>